
@font-face {
    font-family: mainFont;
    src: url("../fonts/FontAwesome.otf"),
    url("../fonts/FontAwesome-webfont.eot"),
    url("../fonts/FontAwesome-webfont.ttf"),
    url("../fonts/FontAwesome-webfont.woff");
    font-weight: bold;
    font-size: 100%;
}

html, body, main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
    color: black;
    font-family: mainFont;
    font-size: 1em;

    display: -moz-box;
    -moz-box-pack: center;

    display: -webkit-box;
    -webkit-box-pack: center;

    display: box;
    box-pack: center;
}

footer {
    float: left;
    position: absolute;
    bottom: 5px;
    left: 50%;
}

footer .wraper {
    /*float: left;*/
    position: relative;
    left: -50%;
    clear: both;
}

footer .wraper .copyright, .originalWeb {
    color: #BABABA;
    line-height: 1.5em;
    left: 50%;
    text-align: center;
}

footer .wraper .originalWeb {
    font-size: 0.8rem;
}

footer .wraper .copyright a:hover ,.originalWeb a:hover {
    color: #007fff;
}